<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UXTU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AATUV3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<userSettings>
        <UXTU.Properties.Settings>
                <setting name="UXTUVersion" serializeAs="String">
                        <value>V1.0.0</value>
                </setting>
                <setting name="Path" serializeAs="String">
                        <value />
                </setting>
                <setting name="RyzenAdjArguments" serializeAs="String">
                        <value />
                </setting>
                <setting name="AutoReapply" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="AutoReapplyTime" serializeAs="String">
                        <value>3</value>
                </setting>
                <setting name="APUName" serializeAs="String">
                        <value />
                </setting>
                <setting name="APUID" serializeAs="String">
                        <value />
                </setting>
                <setting name="StartOnBoot" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="StartMinimised" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="SensorOverlay" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="firstBoot" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="ACMode" serializeAs="String">
                        <value>Bal</value>
                </setting>
                <setting name="AllCoreClk" serializeAs="String">
                        <value>1800</value>
                </setting>
                <setting name="CPUVID" serializeAs="String">
                        <value>1200</value>
                </setting>
                <setting name="BusCLK" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="COCPU" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="COiGPU" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="iGPUClk" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="dGPUCLK" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="dGPUMem" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="isAllCoreCLK" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="isVID" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="isBUS" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="isCPUCO" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="isGPUCO" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="isNV" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ApplyOCAtStart" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="isMagpie" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="isiGPUClk" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="CPUName" serializeAs="String">
                        <value />
                </setting>
                <setting name="wasMini" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="isRadOC" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="RadOption" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="StartUp" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="isPerCO" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="PerCOCCD1" serializeAs="String">
                        <value>0,0,0,0,0,0,0,0</value>
                </setting>
                <setting name="PerCOCCD2" serializeAs="String">
                        <value>0,0,0,0,0,0,0,0</value>
                </setting>
                <setting name="SnowPreset" serializeAs="String">
                        <value>2</value>
                </setting>
                <setting name="PerOCCCD1" serializeAs="String">
                        <value>0,0,0,0,0,0,0,0</value>
                </setting>
                <setting name="isPerOC" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="BatteryPreset" serializeAs="String">
                        <value>None</value>
                </setting>
                <setting name="ChargingPreset" serializeAs="String">
                        <value>None</value>
                </setting>
        </UXTU.Properties.Settings>
        <AATUV3.Properties.Settings>
                <setting name="AATUVersion" serializeAs="String">
                        <value>V3.0.0</value>
                </setting>
                <setting name="Path" serializeAs="String">
                        <value />
                </setting>
                <setting name="RyzenAdjArguments" serializeAs="String">
                        <value />
                </setting>
                <setting name="AutoReapply" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="AutoReapplyTime" serializeAs="String">
                        <value>3</value>
                </setting>
                <setting name="APUName" serializeAs="String">
                        <value />
                </setting>
                <setting name="APUID" serializeAs="String">
                        <value />
                </setting>
                <setting name="StartOnBoot" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="StartMinimised" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="SensorOverlay" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="firstBoot" serializeAs="String">
                        <value>True</value>
                </setting>
        </AATUV3.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>