<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AATUV3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<userSettings>
        <AATUV3.Properties.Settings>
                <setting name="AATUVersion" serializeAs="String">
                        <value>V3.0.0</value>
                </setting>
                <setting name="Path" serializeAs="String">
                        <value />
                </setting>
                <setting name="RyzenAdjArguments" serializeAs="String">
                        <value />
                </setting>
                <setting name="AutoReapply" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="AutoReapplyTime" serializeAs="String">
                        <value>3</value>
                </setting>
                <setting name="APUName" serializeAs="String">
                        <value />
                </setting>
                <setting name="APUID" serializeAs="String">
                        <value />
                </setting>
                <setting name="StartOnBoot" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="StartMinimised" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="SensorOverlay" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="firstBoot" serializeAs="String">
                        <value>True</value>
                </setting>
        </AATUV3.Properties.Settings>
    </userSettings>
</configuration>