<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="3.0.0" targetFramework="net48" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="3.0.0.1" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.2.0" targetFramework="net48" />
  <package id="HidSharp" version="2.1.0" targetFramework="net48" />
  <package id="LibreHardwareMonitorLib" version="0.9.0" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="3.0.1" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net48" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net48" />
  <package id="System.Management" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net48" />
</packages>