<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Universal_x86_Tuning_Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Universal_x86_Tuning_Utility.Properties.Settings>
            <setting name="StartOnBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMini" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandString" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoReapplyTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutoReapply" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="premadePreset" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="acCommandString" serializeAs="String">
                <value />
            </setting>
            <setting name="dcCommandString" serializeAs="String">
                <value />
            </setting>
            <setting name="acPreset" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="dcPreset" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="resumePreset" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="resumeCommandString" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplyOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isAdaptiveModeRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="directoryRTSS" serializeAs="String">
                <value>C:\Program Files (x86)\RivaTuner Statistics Server</value>
            </setting>
            <setting name="FPSLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="polling" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="isASUS" serializeAs="String">
                <value>False</value>
            </setting>
        </Universal_x86_Tuning_Utility.Properties.Settings>
    </userSettings>
</configuration>